/**
 Styles that are common to ALL pages
 
 created: 03/22/2015
 author:  Brendan McGarry
 */

/* NOTE(ALL): figure out what the lowest screen resolution we'll support
 * ----------------------------------------
 * ASPECT RATIO  |  RESOLUTION  |  DEVICES
 * ----------------------------------------
 *      4:3         320x240       various Android
 *                  1024x768      iPad 1, iPad 2
 *                  2048x1536     iPad 3
 *      3:2         480x320       iPhone 3GS and lower, various Android
 *                  960x640       iPhone 4, iPhone 4S
 *     16:10        800x480       various Android, WindowsPhone7
 *                  1280x800      Android tablets like Google Nexus 7, Samsung
 *                                Galaxy Tab 10.1, Motorola Xoom, Asus Eee Pad
 *                                Transformer
 *     17:10        1024x600      Samsung Galaxy Tab 7
 *     16:9         640x360       Symbian3 devices (Nokia C7)
 *                  854x480       various Android
 *                  1136x640      iPhone 5
 * ----------------------------------------
 * source:
 http://rusticode.com/2014/01/11/handling-resolutions-and-aspect-ratio-of-common-mobile-devices-for-web-application-and-game-development/
 */

/* NOTE(ALL): color palette
 * #3F3F41   Dark Grey
 * #6C6D70   Medium Grey
 * #CFCFCF   Light Grey
 * #A1997E   Dark Beige
 * #C9C0A3   Light Beige
 * #F1EBDF   Cream
 * #A19378   Dark Brown
 * #878068   Brown Grey
 * #E08036   Orange
 */

/**--------------------
 * Media queries - width
 * --------------------*/
@media all and (min-width: 768px) {
    .wrapper {
        width: 80%;
    }
}
 
/**--------------------
 * Media queries - height
 * --------------------*/
@media all and (max-height: 480px) {
    #logo {
        height: 50px;
        width: 50px;
    }
    #title {
        font-size: 40px;
    }
}
  
@media all and (max-height: 600px) and (min-height: 480px) {
    #logo {
        height: 70px;
        width: 70px;
    }
    #title {
        font-size: 60px;
    }
}

@media all and (max-height: 800px) and (min-height: 601px) {
    #logo {
        height: 90px;
        width: 90px;
    }
    #title {
        font-size: 80px;
    }
}

@media all and (max-height: 1024px) and (min-height: 800px) {
    #logo {
        height: 120px;
        width: 120px;
    }
    #title {
        font-size: 110px;
    }
}

@media all and (min-height: 1025px) {
    #logo {
        height: 150px;
        width: 150px;
    }
    #title {
        font-size: 140px;
    }
}

/**--------------------
 * Tags
 * --------------------*/
 
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
    color: #3F3F41;
    /* TODO(ALL): manage fonts? */
    font-family: Helvetica, Serif;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: /*#FFFF00;*/#3F3F41;
    height: 100%;    
    /* TODO(ALL): change lowest resolution? */
    min-height: 480px;
    min-width: 320px;
    width: 100%;
}

/**--------------------
 * Classes
 * --------------------*/

.clear {
    clear: both;
}
 
.test1 {
    background-color: #3F3F41;
    display: none;
    /*display: none;*/
    /*position: fixed;
    top: 25px;*/
    width: 100%;
    /*z-index: 101;*/
}

.test2 {
    background-color: #FF0000;
    float: left;
    height: 25px;
    margin-left: 3px;
    margin-right: 3px;
    width: 25px;
} 
 
.nav-icon {
    display: block;
    margin-left: 3px;
    margin-right: 3px;
} 
 
.nav-selected {
    background-color: #3F3F41;
}
 
.post {
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 10px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-color: #A19378;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    width: 100%;
}

.post:hover {
    border-color: #E08036;
}

.post-metadata {
    font-size: 10px;
    padding: 2px;
}

.post-pinned {
    background-image: url("./../img/pin-grey_25x25.png");
    display: inline-block;
    height: 25px;
    width: 25px;
}

.post-pinned:hover {
    background-image: url("./../img/pin-orange_25x25.png");
}

.post-title {
    display: inline-block;
    margin: 5px;
}
 
.sticky {
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
}
 
.subtitle {
    display: block;
    float: left;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    /* NOTE(ALL): make sure min width matches html,body */
    min-width: 320px;
    position: relative;
}
 
/**--------------------
 * IDs
 * --------------------*/

#ask {
    background-image: url("./../img/ask_50x50.png");
    height: 50px;
    width: 50px;
    z-index: 100;
} 
 
#body-inner {
    background-color: #C9C0A3;
}
 
#body-outer {
    background-color: #A1997E;
    width: 100%;
}

#button {
    bottom: 15px;
    position: absolute;
    right: 15px;
}

#categories {
    background-color: #3F3F41;
    height: 25px;
}

#content-area {
    background-color: #F1EBDF;
    border-color: #C9C0A3;
    border-style: solid;
    border-width: 10px;
    color: #3F3F41;
    padding: 5px;
}

#footer-inner {
    background-color: inherit;
    color: #FFFFFF;
    padding: 5px;
}
 
#footer-outer {
    background-color: #3F3F41;
    width: 100%;
}

#header-inner {
    background-color: inherit;
    padding: 2px;
}
 
#header-outer {
    background-color: #3F3F41;
}

#javascript-disabled {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#login {
    background-color: #CFCFCF;
    border-style: solid;
    border-color: #A19378;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
    width: 285px;
}

#login-close {
    color: #6C6D70;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
}

#login-form {
    padding: 10px;
}

#login-form > input {
    margin: 2px;
    padding: 2px;
}

#login-form-password {
    width: 200px;
}

#login-form-register {
}

#login-form-submit {
}

#login-form-title {
    display: block;
    font-size: 20px;
}

#login-form-username {
    width: 200px;
}

#logo {
    /* NOTE(ALL): make sure this conforms to outer-header's max height as
                  well as the image file itself */
    max-height: 150px;
    max-width: 150px;
}

#nav-cat {
    float: left;   
}

#nav-cur-cat {
    color: #FFFFFF;
    font-size: 20px;
}

#nav-pinned {
    float: right;
}

#nav-settings {
    float: right;
}

#navigation-inner {
    background-color: inherit;
    padding: 2px;
    text-align: center;
}

#navigation-outer {
    background-color: #6C6D70;
}

#posts {
}

#title {
    color: #FFFFFF;
    float: left;
}

#window-stats {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    color: #000000;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100;
}