/**
 Styles that are common to ALL pages
 
 created: 03/22/2015
 author:  Brendan McGarry
 */

/* NOTE(ALL): figure out what the lowest screen resolution we'll support
 * ----------------------------------------
 * ASPECT RATIO  |  RESOLUTION  |  DEVICES
 * ----------------------------------------
 *      4:3         320x240       various Android
 *                  1024x768      iPad 1, iPad 2
 *                  2048x1536     iPad 3
 *      3:2         480x320       iPhone 3GS and lower, various Android
 *                  960x640       iPhone 4, iPhone 4S
 *     16:10        800x480       various Android, WindowsPhone7
 *                  1280x800      Android tablets like Google Nexus 7, Samsung
 *                                Galaxy Tab 10.1, Motorola Xoom, Asus Eee Pad
 *                                Transformer
 *     17:10        1024x600      Samsung Galaxy Tab 7
 *     16:9         640x360       Symbian3 devices (Nokia C7)
 *                  854x480       various Android
 *                  1136x640      iPhone 5
 * ----------------------------------------
 * source:
 http://rusticode.com/2014/01/11/handling-resolutions-and-aspect-ratio-of-common-mobile-devices-for-web-application-and-game-development/
 */ 
html, body {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0px;
    /* TODO(ALL): change lowest resolution? */
    min-height: 480px;
    min-width: 320px;
    padding: 0px;
    width: 100%;
}

#body-inner {
    background-color: #00FFFF;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;       
    /*max-height: 100%;
    min-height: 100%;*/
    /* NOTE(ALL): make sure min width matches html,body */
    min-width: 320px;
}
 
#body-outer {
    background-color: #00FF00;
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    height: 70%;
    /*max-height: 70%;
    min-height: 70%;*/
}

#footer-inner {
    background-color: #FF00FF;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;       
    /*max-height: 100%;
    min-height: 100%;*/
    /* NOTE(ALL): make sure min width matches html,body */
    min-width: 320px;
}
 
#footer-outer {
    background-color: #0000FF;
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    height: 15%;
    /*max-height: 15%;
    min-height: 15%;*/
}

#header-inner {
    background-color: #FFFF00;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;       
    /*max-height: 100%;
    min-height: 100%;*/
    /* NOTE(ALL): make sure min width matches html,body */
    min-width: 320px;
}
 
#header-outer {
    background-color: #FF0000;
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    height: 15%;
    /*max-height: 15%;
    min-height: 15%;*/
}
 
.wrapper {
    max-width: 1000px;
    width: 60%;
}