/**
 Styles that are common to ALL pages
 
 created: 03/22/2015
 author:  Brendan McGarry
 */

/* NOTE(ALL): figure out what the lowest screen resolution we'll support
 * ----------------------------------------
 * ASPECT RATIO  |  RESOLUTION  |  DEVICES
 * ----------------------------------------
 *      4:3         320x240       various Android
 *                  1024x768      iPad 1, iPad 2
 *                  2048x1536     iPad 3
 *      3:2         480x320       iPhone 3GS and lower, various Android
 *                  960x640       iPhone 4, iPhone 4S
 *     16:10        800x480       various Android, WindowsPhone7
 *                  1280x800      Android tablets like Google Nexus 7, Samsung
 *                                Galaxy Tab 10.1, Motorola Xoom, Asus Eee Pad
 *                                Transformer
 *     17:10        1024x600      Samsung Galaxy Tab 7
 *     16:9         640x360       Symbian3 devices (Nokia C7)
 *                  854x480       various Android
 *                  1136x640      iPhone 5
 * ----------------------------------------
 * source:
 http://rusticode.com/2014/01/11/handling-resolutions-and-aspect-ratio-of-common-mobile-devices-for-web-application-and-game-development/
 */

/* NOTE(ALL): color palette
 * #3F3F41   Dark Grey
 * #6C6D70   Medium Grey
 * #A1997E   Dark Beige
 * #C9C0A3   Light Beige
 * #F1EBDF   Cream
 * #A19378   Dark Brown
 * #878068   Brown Grey
 */

/**
 * Media queries - width
 */
@media all and (max-width: 479px) and (min-width: 320px) {
}

@media all and (max-width: 599px) and (min-width: 480px) {
}

@media all and (max-width: 757px) and (min-width: 600px) {
}

@media all and (min-width: 768px) {
}
 
 /**
  * Media queries - height
  */
@media all and (max-height: 479px) {
    #logo {
        height: 50px;
        width: 50px;
    }
}
  
@media all and (max-height: 599px) and (min-height: 480px) {
    #logo {
        height: 70px;
        width: 70px;
    }
}

@media all and (max-height: 799px) and (min-height: 600px) {
    #logo {
        height: 90px;
        width: 90px;
    }
}

@media all and (max-height: 1023px) and (min-height: 800px) {
    #logo {
        height: 120px;
        width: 120px;
    }
}

@media all and (min-height: 1024px) {
    #logo {
        height: 150px;
        width: 150px;
    }
}
 
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
    color: #FFFFFF;
    /* TODO(ALL): manage fonts? */
    font-family: Helvetica, Serif;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}
 
html, body {
    background-color: #3F3F41;
    height: 100%;    
    margin: 0px;
    /* TODO(ALL): change lowest resolution? */
    min-height: 480px;
    min-width: 320px;
    padding: 0px;
    width: 100%;
}

#body-inner {
    background-color: #C9C0A3/*#C9C0A3/*F1EBDF*/;
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    padding: 10px;
}
 
#body-outer {
    background-color: #A1997E;/*#4B4E50;#403F3D*/
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    /*min-height: 70%;*/
    position: relative;
}

#content-area {
    background-color: #F1EBDF;    
    /*
    border-color: #C9C0A3;
    border-style: solid;
    border-width: 10px;*/
    color: #3F3F41;
    padding: 5px;
}

#footer-inner {
    background-color: inherit;
}
 
#footer-outer {
    background-color: #3F3F41;
    height: 15%;
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    max-height: 150px;    
    min-height: 50px;
    position: relative;
}

#header-inner {
    background-color: inherit;
}
 
#header-outer {
    background-color: #3F3F41;
    /* Note(ALL): make sure outer header, footer, and body don't add up past
                  100% */
    max-height: 150px;
    min-height: 50px;
    position: relative;
}

#logo {
    display: block;
    float: left;    
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /* NOTE(ALL): make sure this conforms to outer-header's max height as
                  well as the image file itself */
    max-height: 150px;
    max-width: 150px;
}

#navigation-inner {
    background-color: #6C6D70;
    clear: both;
    height: 100%;
    text-align: center;
}

#navigation-outer {
    background-color: #6C6D70;
    height: 25px;
    position: relative;
    clear: both;
}

.subtitle {
    /*background-color: #0000FF;*/
    display: block;
    float: left;
    /* TODO(Brendan): Use jQuery to set this dynamically + CSS media queries */
    font-size: 50px;
}

#title {
    /*background-color: #FF00FF;*/
    display: block;
    float: left;
    /* TODO(Brendan): Use jQuery to set this dynamically + CSS media queries */
    font-size: 100px;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}
 
.wrapper {
    background-color: #000000;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: 1000px;
    /* NOTE(ALL): make sure min width matches html,body */
    min-width: 320px;
    position: relative;
    width: 80%;
}

/**
 * TEST CODE
 */



li {
    background-color: #0000FF;
    display: inline-block;
    list-style-type: none;
}

#nav-icon {
    position: absolute;
    left: 0px;
    width: 25px;
    height: 25px;
}

#nav-categories {
    height: 25px;
    font-size: 20px;
    padding-top: 2px;
}

#nav-profile {
    position: absolute;
    right: 0px;
    width: 25px;
    height: 25px;
}

