/**
 * This style sheet is responsible for the look-and-feel of all the content
 * for index.html 
 *
 * created: 04/01/2015
 * author:  Brendan McGarry
 */
 
/**--------------------
 * Classes
 * --------------------*/

.comment {
    background-color: #F1EBDF;
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 10px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-color: #A19378;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    width: 100%;
}

.comment-downvote {
    background-image: url("./../img/downvote-grey_15x15.png");
    display: inline-block;
    height: 15px;
    margin-left: 2px;
    margin-right: 5px;
    width: 15px;
}

.comment-downvote:hover {
    background-image: url("./../img/downvote-orange_15x15.png");
}

.comment-metadata {
    font-size: 10px;
    padding: 2px;
}

.comment-upvote {
    background-image: url("./../img/upvote-grey_15x15.png");
    display: inline-block;
    height: 15px;
    margin-left: 2px;
    width: 15px;
}

.comment-upvote:hover {
    background-image: url("./../img/upvote-green_15x15.png");
}

.post {
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 10px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-color: #A19378;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    width: 100%;
}

.post:hover {
    border-color: #E08036;
}

.post-metadata {
    font-size: 10px;
    padding: 2px;
}

.post-pinned {
    background-image: url("./../img/pin-grey_25x25.png");
    display: inline-block;
    height: 25px;
    width: 25px;
}

.post-pinned:hover {
    background-image: url("./../img/pin-orange_25x25.png");
}

.post-title {
    display: inline-block;
    margin: 5px;
}

/**--------------------
 * IDs
 * --------------------*/

#ask {
    background-color: #C9C0A3;
    display: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
}

#ask-form {
    background-color: #F1EBDF;
    border-color: #F1EBDF;
    border-style: solid;
    border-width: 2px;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}

#ask-form > input {
    margin: 2px;
    padding: 2px;
}

#ask-form-cat {
    margin: 5px;
}

#ask-form-question {
    width: 250px;
}

#ask-form-more {
    height: 100px;
    padding: 5px;
    resize: none;
    width: 250px;
}

#ask-form-submit {
}

#ask-form-title {
    font-size: 30px;
    margin-bottom: 5px;
}

#login {
    background-color: #CFCFCF;
    border-style: solid;
    border-color: #A19378;
    display: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
    width: 285px;
}

#login-close {
    color: #6C6D70;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
}

#login-form {
    padding: 10px;
}

#login-form > input {
    margin: 2px;
    padding: 2px;
}

#login-form-password {
    width: 200px;
}

#login-form-register {
}

#login-form-submit {
}

#login-form-title {
    display: block;
    font-size: 20px;
}

#login-form-username {
    width: 200px;
}

#post{
    background-color: #C9C0A3;
    display: none;
}

#post-comment-form-submit{
    display: block;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 2px;
    resize: none;
    width: 60px;
}

#post-comment-form-val{
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 90%;
}

#post-comment {
    padding: 3px;
    margin: 5px;
}

#post-comment-section{
}

#post-question{
    background-color: #F1EBDF;
    padding: 5px;
    margin-bottom: 10px;
}

#post-question > hr {
    background-color: #C9C0A3;
    height: 5px;
}

#post-question-metadata {
    background-color: #F1EBDF;
    padding-bottom: 10px;
}

#post-question-more{
    background-color: #F1EBDF;
    color: #3F3F41;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

#post-question-title{
    background-color: #F1EBDF;
    display: inline;
    font-size: 25px;
    padding: 3px;
}

#posts {
}

#profile {
    background-color: #C9C0A3;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
}

#profile-title{
    font-size: 30px;
} 